html, body {
  font-size: 16px;
  text-align: center;
  align-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 1.0rem;
  background-color: rgba(0, 17, 74,1);
  color: white;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 0 auto;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  align-items: stretch;
  justify-content: space-between;
  border-radius: 4px;
  margin: 0px;
  padding: 0px;
}

.header {
  display: grid;
  justify-content: center;
  align-items: center;
  place-items: center;
  background-color: rgba(134,160,244,1); /* Main Primary color */
  font-family: "Comic Sans MS", cursive, sans-serif;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
h1 {
  font-size: 40px;
  text-shadow: 2px 2px 4px #000000;
   text-align: center;
   width: 100%;
}
.header h1 {
  margin-right:60%;
}

.column {
  flex: 1;
  margin: 0 auto;
  flex-basis: 60%;
}

.left {
  flex: 0 0 10%;
  background-color: rgba(  2, 25, 99,1); /* Main Primary color */
  height: auto;
}

.right {
  flex: 0 0 1%;
  height: auto;
  background-color: rgba(  2, 25, 99,1); /* Main Primary color */
  padding: 20px;
}

.center {
  background-color: rgba(  0, 17, 74,1); /* Main Primary color */
}

.comic {
  display: flex;
  flex-direction: row;
}

.left a {
  list-style-type: none;
  text-decoration: none;
  margin: 10px;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
}
.left a:hover {
  text-transform: uppercase;
  color: white;
}
.left li:hover {
  text-transform: uppercase;
  color: white;
  background-color: rgba( 26, 60,172,1); /* Main Primary color */
}
.left ul:nth-child(odd) {
  background-color: rgba(  2, 25, 99,1); /* Main Primary color */
}
.left ul {
  list-style-type: none;
  margin: 0%;
  padding: 10%;
  background-color: rgba( 99,128,222,1); /* Main Primary color */
  text-align: center;
}
.left li {
  display: inline-block;
  margin-right: 20px;
}
.resume {
  font-family: "Times New Roman", Times, serif;
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba( 26, 60,172,1);
  box-shadow: rgba(134,160,244,0.5) 0px 2px 20px;
}
 h2 {
  font-size: 24px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(  0, 17, 74,1);
  color: white;
}
.resume h3 {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
  text-align: left;
  margin-left: 40px;
  font-weight: normal;
}
.resume a {
  color: white;
}
.resume ul {
  list-style-type: none;
  margin-left: auto;
  margin-bottom: 10px;
}
.resume ul li {
  font-size: 16px;
  margin-top: 5px;
  color: white;
}

.content {
  flex: 1;
  box-sizing: border-box;
  background-color: rgba( 26, 60,172,1);
  padding: 0px;
  margin: 5px;
}
.content h3 {
  flex: 0 0 33%;
  padding: 0px;
  margin: 0px;
  font-size: 25px;
  background-color: rgba(  0, 17, 74,1); /* Main Primary color */
  color: white;
}
.content p {
  margin: 5px;
}

#banner {
  background-position: top;
  border-top: 1px solid rgba(134, 160, 244, 1);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 100%;
  background-image: url('../img/wallpaper.jpeg');
  box-shadow: rgba(134,160,244,0.5) 0px 2px 20px;
}

#banner_bottom {
  display: none;
  box-sizing: border-box;
  position: relative;
  background-color: color: rgba(  0, 17, 74,1);
  box-shadow: rgba(134,160,244,0.5) 0px 2px 20px;
}

#comic {
  float: left;
  width: auto;
  height: fit-content;
  max-height: 150px;
  max-width: 150px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  margin: 5px;
}

#me {
  margin-right: auto;
  margin-left: 40%;
  width: auto;
  height: fit-content;
  max-height: 150px;
  max-width: 150px;
  border: 3px solid #ddd;
  box-shadow: rgba(134,160,244,1) 0px 2px 20px;
}

#rickroll {
  width: auto;
  height: fit-content;
  max-height: 20px;
  box-sizing: border-box;
  opacity: 0.9;
}
#footer {
  font-size: 12px;
  background-color: rgba(0, 17, 74, 0.1);
  color: white;
  padding: 10px;
  margin: 0px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(134, 160, 244, 1);
}
@media (max-width: 1000px) {
  #footer {
    display: none;
  }
  .comic {
    flex-direction: column;
  }
}

@media (max-width: 1200px) {
  #banner_bottom {
    display: block;
    animation: slideInFromBottom 0.5s ease-in-out;
  }
  #banner {
    animation: slideInFromBottom 0.5s ease-in-out;
    background-image: none;
    background-color: rgba(  0, 17, 74,1); /* Main Primary color */
  }
  .left {
    width: auto;
    background-color: rgba( 26, 60,172,1);
  }
  #comic {
    width: auto;
    height: auto;
    max-height: 150px;
    max-width: 150px;
  }
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(5%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
